

body {
    background: url("background_img.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    width: auto;
    height: auto;

    /* Стиль для планшетов и мобильных устройств (ширина до 768px) */
@media screen and (max-width: 768px) {
    background-size: contain;
    font-size: 14px; /* Уменьшаем шрифт для маленьких экранов */
    }
    @media screen and (max-width: 390px) {
        font-size: 9px;
    }
}
header {
    display: flex;
    width: 90%;
    height: 10%;
    margin: auto;
    justify-content: center;

}
h1 {
    width: 80%;
    justify-content: center;
    align-self: center;
    color: RGB(14, 66, 67);
    font-family: inherit;
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
    @media screen and (max-width: 480px) {
        font-size: 18px;
    }
    @media screen and (max-width: 380px) {
        font-size: 9px;
    }
}  

@media screen and (max-width: 480px) {
        .inline_hidden {
            display: none;
        }
    }
@media screen and (min-width: 481px) {
        .inline_hidden {
            display: inline;
        }
    }

@media screen and (min-width: 481px) {
        .inline_visible {
            display: inline;
        }
    }
@media screen and (min-width: 481px) {
        .inline_visible {
            display: none;
        }
    }

.inline_visible { @media screen and (max-width: 480px) {
    text-align: center; }
}

h2 {
    
        @media screen and (max-width: 480px) {
        font-size: 14px;
        align-self: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }
}
h3 {
    
    
    color: rgb(128, 0, 0);
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    @media screen and (max-width: 480px) {
        font-size: 14px;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        
}
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    @media screen and (max-width: 480px) {
        font-size: 10px;
        justify-content: center;
        
}
}
.preview_image {
    width: 65%;
    height: 700px;
    background: url("baby_img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px;
        @media screen and (min-width: 1180px) {
        background-size: contain;
        }
        @media screen and (max-width: 480px) {
            height: 280px;
        }
}

.list {
    color: black;
    width: 45%;
    @media screen and (max-width: 480px) {
        font-size: 14px;
        width: 90%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }
        
    }


footer {
    display: flex;
    justify-content: flex-end;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;    
    width: 90%;
    height: 10%;
    }

.vk {
    margin-right: 2%; 
    margin-top: 20px;
    }
.tel {
    margin-right: 5%; 
    margin-top: 20px;


}

@media (max-width: 480px) {
    .hidden_image {
        display: none;
    }
}

/* Для маленьких экранов (мобильные) */
@media (max-width: 480px) {
    .vk {
    background-image: url('vk_icon_32x32.svg'); /* SVG отлично масштабируется */
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    }
}
@media (max-width: 480px) {
    .tel {
    background-image: url('tel_icon_32x32.svg'); /* SVG отлично масштабируется */
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    }
}
